<% include ../partials/header %>
<link href="/stylesheets/main.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Add new comment to <%=restaurant.name %></h1>
        <div class="comment-box">
            <form action="/restaurants/<%=restaurant.id%>/comments" method="POST">
                <div class="form-group">
                     <textarea class="form-control" rows="5" placeholder="Insert comment here" name="comment[text]"></textarea>
                </div>
                <div class="row">
                    <div class="form-group stars">
                        <input class="star star-5" id="star-5" type="radio" name="comment[star5]"/>
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" name="comment[star4]"/>
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" name="comment[star3]"/>
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" name="comment[star2]"/>
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-1" id="star-1" type="radio" name="comment[star1]"/>
                        <label class="star star-1" for="star-1"></label>
                    </div>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-block btn-peckish">Submit!</button>
                </div>
            </form>
    
            <a href="/restaurants">Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>