.logo{
    width:120px;
}

.navbar-brand{
    padding:5px;
}

.navbar-default{
    background-color:#fff;
}

.navbar-collapse{
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a{
    color:rgb(23, 28, 121);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    background-color:rgb(23, 28, 121);
    color:white;
}